@import "../desktop/current/theme/waybar.css";

* {
  min-height: 0;
  min-width: 0;
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: #11111b;
  /* background-color: rgba(24, 24, 37, 0.6); */
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  background-color: #1e1e2e;
  color: #7dcfff;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f38ba8;
}

#tray,
#disk,
#memory,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-desktop,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#bluetooth {
  color: #bb9af7
}

#clock {
  color: #ffffff;
}

#cpu {
  color: #fb958b;
}

#memory {
  color: #a1c999;
}

#disk {
  color: #e0af68;
}

#network {
  color: #8fbcbb;
}

#pulseaudio {
  color: #7dcfff;
}

#pulseaudio.muted {
  color: #fb958b;
}

#backlight {
  color: #bb9af7;
}

#network.disconnected {
  color: #fb958b;
}

#battery {
  color: #8fbcbb;
}
#battery.warning {
  color: #ecd3a0;
}
#battery.critical:not(.charging) {
  color: #fb958b;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

.hidden {
  opacity: 0;
}
