@import "../desktop/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  box-shadow: inset 0 -3px transparent;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  font-weight: bold;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#disk,
#memory,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-desktop,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#bluetooth {
  color: #bb9af7
}

#clock {
  color: #8a909e;
}

#cpu {
  color: #fb958b;
}

#memory {
  color: #a1c999;
}

#disk {
  color: #e0af68;
}

#network {
  color: #8fbcbb;
}

#pulseaudio {
  color: #7dcfff;
}

#pulseaudio.muted {
  color: #fb958b;
}

#backlight {
  color: #bb9af7;
}

#network.disconnected {
  color: #fb958b;
}

#battery {
  color: #8fbcbb;
}
#battery.warning {
  color: #ecd3a0;
}
#battery.critical:not(.charging) {
  color: #fb958b;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

.hidden {
  opacity: 0;
}
